<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="css/vendor.js.bundle.css" rel="stylesheet">
</head>
<body>
    <my-app>loading...</my-app>
    <script type="text/javascript" src="../wwwroot/js/polyfills.bundle.js"></script>
    <script type="text/javascript" src="../wwwroot/js/app.bundle.js"></script>
    <script type="text/javascript" src="../wwwroot/js/vendor.js.bundle.js"></script>
</body>
</html>
